<div *ngIf="!loadingUser">
  <body>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <div class="sr-payment-summary payment-view">
          <h1 class="order-amount">
            Porfavor inicie sesión en Dili para configurar su cuenta de vendedor
          </h1>
        </div>
        <div *ngIf="loadingLink; else showLogin">
          <p>Redirigiendo...</p>
          <div class="loader"></div>
        </div>
        <ng-template #showLogin>
          <form [formGroup]="loginForm">
            <div>
              <label>Correo:</label>
              <input type="text" formControlName="email" required />
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required" class="invalid-feedback">
                  Campo requerido.
                </div>
                <div *ngIf="email.errors.email" class="invalid-feedback">
                  Correo electrónico inválido.
                </div>
              </div>
            </div>
            <br />
            <div>
              <label>Contraseña:</label>
              <input type="password" formControlName="password" required />
            </div>
            <br />
            <button formaction (click)="login()">Iniciar sesión</button>
          </form>
        </ng-template>
      </div>
    </div>
  </body>
</div>
